body
{
    background-color: #808080;
    
}

.main-div
{
    background-color: #FFFFFF;
    width: 55%;
    height: auto;
    margin: auto;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    color:#727272; 
    
}
.main-div label{
    display: block;
    width: 100%;
    color: #444444;
}
.borderTop
{
    border-top: 1px solid #8A898B;
}

.headingDiv
{
    width: 100%;
    text-align: center;
}
.descriptionDiv
{
    padding:2%;
}


.descriptionDiv,.main-div input,.categoryDiv select
{
 width: 100%;
}


.categoryDiv,.dueDateDiv
{
    width: 46%;
    padding:2%;
}

.buttonDiv
{
    width: 100%;
    text-align: center;
    padding: 3% 0% 3% 0% ;
}

.buttonDiv button
{
 height: 3rem;
 color: white;
 border:none;
}

.add-task
{
background-color: #444444;
padding:0% 3% 0% 3%;
margin-right: 2%;
}

.delete-task
{
background-color: #E6332D;
padding:0% 1% 0% 1%;
}

input:focus, select:focus ,input ,select
{
    outline: none;
    border: none;
    color:#8A898B;
}

.listDiv
{
    width: 100%;
    margin: 0% 3% 0% 3%;
    border-top: 1px solid #8A898B;
}

.listDiv input
{
    width: 2%;
    position: relative;
    bottom: 20px;
}

.listDiv p
{
    display: inline-block;
}



