<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-div">
      <div class="headingDiv">
        <h1>TODO App</h1>
      </div>
          

      <form action="/" method="POST"></form>

      <div class="descriptionDiv borderTop">
        <label for="description" >Description</label>
        <input type="text" name="description" placeholder="What do you need to do?" id="description">

      </div>

      <div class="categoryDiv borderTop">
        <label for="category" class="otherColumnStyle">Category</label>
        <select name="category" id="category" class="otherColumnStyle">
          <option value="Personal">Choose a Category</option>
          <option value="Personal">Personal</option>
          <option value="Work">Work</option>
          <option value="School">School</option>
          <option value="Cleaning">Cleaning</option>
          <option value="Other">Other</option>
        </select>
      </div>

        <div class="dueDateDiv borderTop">
          <label for="duedate" >Due Date</label>
          <input type="date" name="duedate" placeholder="What do you need to do?" id="duedate">
        </div>
        
     <div class="buttonDiv borderTop">
  
      <button type="submit" class="add-task"><i class="fa-solid fa-plus"></i> ADD TASK </button>
      <button type="submit" class="delete-task"><i class="fa-solid fa-trash-can"></i> DELETE TASKS</button>
     </div>
       

     <div class="listDiv">
        <input type="checkbox" name="" id=""> 

        <p>
          Why  not Add a task? <br>
          <i class="fa-solid fa-calendar-days"></i>
      </p> 
     </div>

    </div>
    <script src="https://kit.fontawesome.com/4286c095cf.js" crossorigin="anonymous"></script>
</body>
</html>